<div class="header-container">

  <img class="portrait" src="../../assets/imgs/{{tname}}/portrait.jpg" alt="Portrait of Ryan">

  <div class="header-info">
    <span id="name">{{contact[0].name}}</span>
    <br>
    <br>
    <span id="title">{{contact[0].title}}</span>
  </div>

</div>

<div class="contentContainer">

  <div class="biz-container">
    <h3>{{contact[0].biz}}</h3>
    <p>"{{contact[0].slogan}}"</p>
  </div>

  <div class="contact-container">
    <ul class="contact-list">
      <li (click)="makeCall()"><img class="icons" src="../../assets/icons/mobile.svg" alt="phone icon"><span>{{contact[0].mobile}}</span></li> <!-- IDEA: click to send message -->
      <hr>
      <li (click)="sendEmail()"><img class="icons" src="../../assets/icons/email-chic.svg" alt="email icon"> <span>{{contact[0].email}}</span></li> <!-- IDEA: click to send email -->
      <li (click)="sendBizEmail()"><img class="icons" src="../../assets/icons/mail.svg" alt="social icons"> <span>{{contact[0].bizEmail}}</span> </li> <!-- IDEA: click to go to app -->
      <hr>
      <li (click)="webPage()"><img class="icons" src="../../assets/icons/globe.svg" alt="social icons"> <span>{{contact[0].website}}</span></li><!-- IDEA: click to go to app -->
    </ul>
  </div>

  <hr>

  <div >
    <ul class="social-list">
      <li><img class="icons" src="../../assets/icons/insta-color.svg" alt="social icons"> </li> <!-- IDEA: click to go to app -->
      <li><img class="icons" src="../../assets/icons/facebook-color.svg" alt="social icons">  </li> <!-- IDEA: click to go to app -->
      <li><img class="icons" src="../../assets/icons/linkedin-color.svg" alt="social icons">  </li> <!-- IDEA: click to go to app -->
    </ul>
  </div>

  <div class="contact-btn">
    <br>
    <a (click)="getVcard()">ADD TO CONTACTS</a><!-- IDEA: click to 'save' to contacts -->
    <br>
    <br>
  </div>

  <div class="spacer">

  </div>

  <div class="action-buttons">
      <img (click)="calendly()" class="" src="../assets/icons/hand-shake-inverted.svg" alt="Schedule a meeting">
      <img (click)="getSocial()" src="../assets/icons/share-gray.svg" alt="Share contact">
  </div>
</div>
