* {
  box-sizing: border-box;
}

/*
====
CONTENT section
====
 */

 /*
    Containers
 */

 .biz-container {
 }
 .biz-container h3 {
   font-size: 1.5em;
 }

 .contact-container {
   position: relative;
   top: -20px;
   background-color: white;
 }

 /*
 START
 Share buttons right-hand side
  */
 .action-buttons {
   position: relative;
   text-align: center;
   display: flex;
   top: -35px;
   height: 70px;
   justify-content: space-around;
 }

 .action-buttons img {
   width: 20%;
   box-sizing: border-box;
   margin: auto 3%;
   padding: 5%;
   border-radius: 50%;
   background-color: rgba(140,140,140, 1);
 }
 /*
 END SHARE buttons
 */


 /*
 Start:
 TOP icons
 */
  .contact-list {
    padding: 1%;
    top: -20px;
  }

  #bizTitle {
    font-size: 1.5em;
    font-weight: bold;
  }

  .contact-list > a {
    text-decoration: none;
    color: black;
  }

 .contact-list li {
   list-style-type: none;
   padding: 5%;
   text-align: left;
   display: inline-flex;
 }

 .icons {
   width: 12%;
   height: 15%;
   margin: 0 5% 0 0;
 }

 .contact-list span {
   font-size: 1.5em;
   box-sizing: content-box;
   margin: auto 0;
   text-align: left;
 }
 /*
 END TOP icons
 */


/*
Start:
BOTTOM icons
*/

.social-list {
  padding: 1%;
  display: flex;
}
.social-list li {
   list-style-type: none;
   padding: 5%;
   width: 100%;
 }

 .social-list li img {
   width: 60%;
   height: 80%;
 }

 /*
 END:
 BOTTOM icons
 */



 /*
 Start
 Contact Btn
 */

 .contact-btn {
   position: fixed;
   bottom: 0;
   width: 100%;
   text-align: center;
   padding: 3% 0 ;
   background-color: rgb(51, 102, 153);
   box-shadow: 0 0 10px 4px rgba(144,144,144,.7);
 }

  .contact-btn a {
    color: white;
    text-decoration: none;
    margin: auto;
    font-size: 1.5em;
  }


/*
END Contact Btn
*/

  .spacer {
    height: 130px;
    text-align: center;

  }
