

<div id="contentContainer" class="contentContainer">


  <div class="action-buttons">
      <img (click)="calendly()" class="" src="../assets/icons/hand-shake-inverted.svg" alt="Schedule a meeting">
      <img (click)="getSocial()" src="../assets/icons/share-arrow.png" alt="Share contact">
  </div>

  <div (click)="calendly()" id="cal-options" class="cal-options silent">
    <label class="">Delivery</label>
    <a target="_blank" id="deliveryIcon" href="https://calendly.com/bdit/delivery"><img class="icons " src="../assets/icons/lorry.svg" alt="delivery icon"></a>
    <label class="">Install</label>
    <a target="_blank" id="installIcon" href="https://calendly.com/bdit/install"><img class="icons " src="../assets/icons/drill.svg" alt="install icon"></a>
    <h3 id="choiceTitle" class="">Click Above To Schedule</h3>


    <a id="cal-close-btn">Click here to close window</a>
  </div>

  <div class="contact-container">
    <ul class="contact-list">
      <div class="centerText">
          <li
            (click)="getRevs()"
            id="bizTitle"
            >{{contact[this.id].biz}}</li>
          <li
            *ngIf="contact[this.id].slogan">"{{contact[this.id].slogan}}"</li>
        </div>
      <hr>
      <li
        *ngIf="contact[this.id].mobile"
        (click)="makeCall()"><img class="icons" src="../../assets/icons/mobile.svg" alt="mobile phone icon"><span *ngIf="contact[this.id].org">Ryan : </span><span>{{contact[this.id].mobile}}</span></li> <!-- IDEA: click to send message -->
      <li
        *ngIf="contact[this.id].bizPhone"
        (click)="makeBizCall()"><img class="icons" src="../../assets/icons/phone.svg" alt="phone icon"><span *ngIf="contact[this.id].org">Tiffany : </span><span>{{contact[this.id].bizPhone}}</span></li> <!-- IDEA: click to send message -->
      <hr>
      <li
        *ngIf="contact[this.id].email"
        (click)="sendEmail()"><img class="icons" src="../../assets/icons/email-chic.svg" alt="email icon"> <span class="emails">{{contact[this.id].email}}</span></li> <!-- IDEA: click to send email -->
      <li
        *ngIf="contact[this.id].bizEmail"
        (click)="sendBizEmail()"><img class="icons" src="../../assets/icons/mail.svg" alt="social icons"> <span class="emails">{{contact[this.id].bizEmail}}</span> </li> <!-- IDEA: click to go to app -->
      <hr>
      <li
        *ngIf="contact[this.id].website"
        (click)="webPage()"><img class="icons" src="../../assets/icons/globe.svg" alt="social icons"> <span>{{this.website}}</span></li><!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].addr"
        ><img class="icons" src="../../assets/icons/placeholder.svg" alt="social icons"> <span>{{contact[this.id].addr}}</span></li><!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].bizAddr"
        (click)="getMap()"><img class="icons" src="../../assets/icons/location.svg" alt="social icons"> <span>{{contact[this.id].bizAddr}}</span></li><!-- IDEA: click to go to app -->

    </ul>
  </div>

  <hr>

  <div class="social-container" >
    <h4 *ngIf="this.social">Social</h4>
    <ul class="social-list">
      <li
        *ngIf="contact[this.id].instaLink"

        ><a href="{{contact[this.id].instaLink}}"><img class="icons" src="../../assets/icons/insta-color.svg" alt="social icons"></a> </li> <!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].fbLink"

        ><a href="{{contact[this.id].fbLink}}"><img class="icons" src="../../assets/icons/facebook-color.svg" alt="social icons"></a>  </li> <!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].linkedIn"

        ><a href="{{contact[this.id].linkedIn}}"><img class="icons" src="../../assets/icons/linkedin-color.svg" alt="social icons"> </a> </li> <!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].twitterLink"

        ><a href="{{contact[this.id].twitterLink}}"><img class="icons" src="../../assets/icons/twitter-color.svg" alt="social icons"> </a> </li> <!-- IDEA: click to go to app -->

        <li
          *ngIf="contact[this.id].gitHub"

          ><a href="{{contact[this.id].gitHub}}"><img class="icons" src="../../assets/icons/github.svg" alt="social icons"> </a> </li> <!-- IDEA: click to go to app -->
        <li
          *ngIf="contact[this.id].stkOvrflow"
          (click)="getMap()"><img class="icons" src="../../assets/icons/stack-overflow.svg" alt="social icons"></li><!-- IDEA: click to go to app -->


    </ul>
  </div>

  <div id="contactBtn" class="contact-btn">
    <br>
    <a (click)="getVcard()">ADD TO CONTACTS</a><!-- IDEA: click to 'save' to contacts -->
    <br>
    <br>
  </div>

  <div class="spacer">
    <small>built by <a href="https://magicmirror.dev">M|M Developers</a></small>
    <br>
  </div>
</div>
