

<div class="contentContainer">


  <div class="action-buttons">
      <img (click)="calendly()" class="" src="../assets/icons/hand-shake-inverted.svg" alt="Schedule a meeting">
      <img (click)="getSocial()" src="../assets/icons/share-arrow.png" alt="Share contact">
  </div>

  <div class="contact-container">
    <ul class="contact-list">
      <li
        (click)="getRevs()"
        id="bizTitle"
        >{{contact[this.id].biz}}</li>
      <li
        *ngIf="contact[this.id].slogan">"{{contact[this.id].slogan}}"</li>
      <hr>
      <li
        *ngIf="contact[this.id].mobile"
        (click)="makeCall()"><img class="icons" src="../../assets/icons/mobile.svg" alt="mobile phone icon"><span>{{contact[this.id].mobile}}</span></li> <!-- IDEA: click to send message -->
      <li
        *ngIf="contact[this.id].bizPhone"
        (click)="makeBizCall()"><img class="icons" src="../../assets/icons/phone.svg" alt="phone icon"><span>{{contact[this.id].bizPhone}}</span></li> <!-- IDEA: click to send message -->
      <hr>
      <li
        *ngIf="contact[this.id].email"
        (click)="sendEmail()"><img class="icons" src="../../assets/icons/email-chic.svg" alt="email icon"> <span>{{contact[this.id].email}}</span></li> <!-- IDEA: click to send email -->
      <li
        *ngIf="contact[this.id].bizEmail"
        (click)="sendBizEmail()"><img class="icons" src="../../assets/icons/mail.svg" alt="social icons"> <span>{{contact[this.id].bizEmail}}</span> </li> <!-- IDEA: click to go to app -->
      <hr>
      <li
        *ngIf="contact[this.id].website"
        (click)="webPage()"><img class="icons" src="../../assets/icons/globe.svg" alt="social icons"> <span>{{contact[this.id].website}}</span></li><!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].addr"
        ><img class="icons" src="../../assets/icons/placeholder.svg" alt="social icons"> <span>{{contact[this.id].addr}}</span></li><!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].bizAddr"
        (click)="getMap()"><img class="icons" src="../../assets/icons/location.svg" alt="social icons"> <span>{{contact[this.id].bizAddr}}</span></li><!-- IDEA: click to go to app -->
    </ul>
  </div>

  <hr>

  <div >
    <ul class="social-list">
      <li
        *ngIf="contact[this.id].instaLink"

        ><a href="{{contact[this.id].instaLink}}"><img class="icons" src="../../assets/icons/insta-color.svg" alt="social icons"></a> </li> <!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].fbLink"

        ><a href="{{contact[this.id].fbLink}}"><img class="icons" src="../../assets/icons/facebook-color.svg" alt="social icons"></a>  </li> <!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].linkedIn"

        ><a href="{{contact[this.id].linkedIn}}"><img class="icons" src="../../assets/icons/linkedin-color.svg" alt="social icons"> </a> </li> <!-- IDEA: click to go to app -->
      <li
        *ngIf="contact[this.id].twitterLink"

        ><a href="{{contact[this.id].twitterLink}}"><img class="icons" src="../../assets/icons/twitter-color.svg" alt="social icons"> </a> </li> <!-- IDEA: click to go to app -->

    </ul>
  </div>

  <div id="contactBtn" class="contact-btn">
    <br>
    <a (click)="getVcard()">ADD TO CONTACTS</a><!-- IDEA: click to 'save' to contacts -->
    <br>
    <br>
  </div>

  <div class="spacer">
    <small>built by <a href="https://magicmirror.dev">M|M Developers</a></small>
    <br>
  </div>
</div>
