
  .container {
    text-align: center;
    padding: 20%;
    background-color: white;
  }

  .hide {
    display: none;
  }

  #logo-img-small {
    width: 30%;
    -webkit-animation: 3s linear 0s infinite  grow;
            animation: 3s linear 0s infinite  grow;
  }

  @-webkit-keyframes grow { from { width: 30%; margin-top: 65%} to { width: 90%; margin-top: 30% }  }
          @keyframes grow { from { width: 30%; margin-top: 65% } to { width: 90%; margin-top: 30% }  }
